
/* -------------------- CARDS GRID CSS BEGINNT AB HIER ----------- */
.main-grid {
    max-width: 100%;
    padding: 29px;
    z-index: 6;
    position: relative;
    margin: 0px 0 450px;
    background-color: rgb(255, 255, 255);
  }
  
  .dark-mode .main-grid{
    max-width: 100%;
    padding: 29px;
    z-index: 6;
    position: relative;
    margin: 0px 0 450px;
    background-color: rgb(0, 0, 0);
  }
  /* Mobile View (max-width: 480px) */
  @media screen and (max-width: 480px) {
    .main-grid {
      max-width: 100%;
      padding: 0px;
    }
  }
  
  /* Card-grid container */
  .card-grid {
  display: grid;
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  margin: auto;
  gap: 16px;
  margin-top: 20px;
  border-radius: 12px;
  padding: 16px;
  }
  
  
  .card-grid.layout-1 {
    grid-template-columns: repeat(4, 1fr);
    width: 65%;
    height: 100%;
  }
  
  .card-grid.layout-2 {
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
  }
  
  .card-grid.layout-3 {
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
  }
  

  /* Tablet View (max-width: 1024px) */
  @media screen and (max-width: 1024px) {
    .card-grid.layout-1 {
      grid-template-columns: repeat(3, 1fr);
      padding: 25px;
    }
  
    .card-grid.layout-2 {
      grid-template-columns: repeat(6, 1fr);
      padding: 25px;
    }
  
    .card-grid.layout-3 {
      grid-template-columns: repeat(4, 1fr);
      max-width: 85%;
      padding: 25px;
    }
  }
  
  /* Handy View (max-width: 480px) */
  @media screen and (max-width: 480px)  {
    .card-grid.layout-1 {
      grid-template-columns: repeat(2, 1fr); /* 2 Spalten */
      min-width: 320px;
      max-width: 100%;
      position: relative;
    }
  
    .card-grid.layout-2 {
      grid-template-columns: repeat(2, 1fr);
      max-width: 100%;
      position: relative;
    }
  
    .card-grid.layout-3 {
      grid-template-columns: repeat(1, 1fr); /* 1 Spalte */
      max-width: 100%;
    }
  }
  
  
  
  
  