

/* -----------------------------------------------------------
 Global Styles
---------------------------------------------------------- */
/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-mode: #fff;
  --light-mode: #000000;
}

/* h1 {
  color: var(--dark-mode);
} */

/* Box-Sizing für alle Elemente */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Globale Schriftarten und Layout-Defaults */
body {
  font-family: "RedHat";
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
  cursor: none;
  min-width: 320px; /* Minimale Breite für den Body */
  min-height: 480px; /* Minimale Höhe für den Body */
  transition: background-color 0.3s, color 0.3s;
}


/* Dark Mode */
body.dark-mode {
  background-color: #000000; /* Hintergrund für Dark Mode */
  color: #ffffff; /* Textfarbe für Dark Mode */
}

/* Hauptinhalt */
.main-content {
  background-color: inherit; /* Verwendet die Hintergrundfarbe von body */
  min-height: 50vh; /* Mindestens 50% der Bildschirmhöhe */
  flex-grow: 1; /* Stellt sicher, dass der Inhalt den verfügbaren Platz ausfüllt */
}

/* -----------------------------------------------------------
Links
---------------------------------------------------------- */

a {
  color: #646cff; /* Standardfarbe für Links */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #535bf2; /* Hover-Farbe für Links */
}

/* -----------------------------------------------------------
 Title Überschriften
---------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "RedHat";
  text-align: center;
}


h1 {
  font-size: 3.5em;
  margin-bottom: 0.5em;
  font-family: "NotoSansJP";
}

h2 {
  font-size: 2.5em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 2em;
  margin-bottom: 0.3em;
}

h4 {
  font-size: 1.75em;
  margin-bottom: 0.2em;
}

h5 {
  font-size: 1.5em;
  margin-bottom: 0.2em;
}

h6 {
  font-size: 1.25em;
  margin-bottom: 0.2em;
}

/* -----------------------------------------------------------
Absätze und Text
---------------------------------------------------------- */

p {
  text-align: center;
  font-weight: 400;
  font-family: "RedHat";
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 18px;
}




/* -----------------------------------------------------------
Listen
---------------------------------------------------------- */

ul, ol {
  margin: 0;
  padding-left: 20px;
  list-style-position: inside;
}

li {
  font-size: 1em;
  margin-bottom: 0.5em;
}

/* -----------------------------------------------------------
 Blockquotes
---------------------------------------------------------- */

blockquote {
  padding: 1em 2em;
  border-left: 4px solid #00796b;
  font-style: italic;
  color: #555;
  background-color: #f5f5f5;
  margin: 20px 0;
}

/* -----------------------------------------------------------
 Bilder
---------------------------------------------------------- */

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* -----------------------------------------------------------
 Audi/Video
---------------------------------------------------------- */

audio, video {
  max-width: 100%;
  height: auto;
}

/* -----------------------------------------------------------
 Global Reset
---------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
